// Import bootstrap functions, vars and mixins
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Import map amends
@import "./abstracts/map-amends";

// Bootstrap main import
@import "~bootstrap/scss/bootstrap";

// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
}

li {
  list-style-type : '';
  line-height: 3.5;
  left: 100;
}